/*
* CSS
* STYLESHEETS
*/

/* resets */
body,p,h1,h2,h3,h4,h5,h6,div,span,header,footer,img,a,a:hover,a:active,a:visited,table,tr,td,th,form,input,button,select,textarea{
  line-height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  color: #1a1a1a;
  border-width: 0;
}

.clear{
  float: none;
  width: 100%;
  height: 1px;
}

/* Fonts */
.fonts{
font-family: 'Imprima', sans-serif;
font-family: 'Slackey', cursive;
font-family: 'Roboto Slab', serif;
font-family: 'Roboto', sans-serif;

}


/* Main pallete*/

.header{
  background-color: #bedae993;
  border-width:  0 0 1px 0;
  border-style: solid;
  border-color: #fff;
  box-shadow: 0 -25px 11px 20px #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  min-width: 1200px;
}

.header ul{
  list-style-type: none;
  text-align: rigth;
  padding: 0 110px;
  float: right;
}

.header ul li{
  display: inline-block;
  padding: 10px 10px 0 10px;
}

.header ul li a{
  text-transform: uppercase;
  font-weight: 900 !important;
  font-size: 12px;
}

.header ul li.loggedIn{
  display: none;
}

.header .logo{
  text-align: left;
  padding: 0 0 0 90px;
  float: left;
}

.header .logo img{
  width: 300px;
}

.content{
  margin-top: 155px;
  width: 1100px;
  margin: 200px auto;
  background-color: rgba(237, 242, 250, 0.93);
  border-radius: 10px;
}

.footer{
  width: 100%;
  /* background-color: #fff; */
  padding: 50px 0;
  text-align: center;
  border-width: 1px 0 0 0;
  border-color: #fff;
  border-style: solid;
}

.footer .copyright{
  /* color: #fff; */
  font-size: 9px;
}

/* Index */

h1{
  text-align: center;
  font-size: 34px;
  font-family: 'Slackey', cursive;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px 0 15px 0;
}

h2{
  text-align: center;
  font-size: 16px;
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 0 20px 0;
}

hr{
  margin: 30px 0;
}

body {
  background-image: url("lego-1500.png");
  background-attachment: fixed;
  background-position: 15% 20%; 
  background-repeat: no-repeat;
}

body.index .blurb{
  text-align: center;
  background-color: #F9F8F4;
  border-color: #b3b3b3;
  border-style: dotted;
  border-width: 1px;
  border-radius: 5px;
  padding: 100px;
  margin: 20px auto 25px auto;
  max-width: 500px;
  line-height: 150%;
  font-size: 14px;
}

body.loggedIn .header ul li.loggedIn{
  display: inline-block;
}

body.loggedIn .header ul li.loggedOut{
  display: none;
}

.back-button{
  text-transform: uppercase;
  font-weight: bold !important;
  display: inline-block !important;
  width: 100px;
  padding: 7px !important;
  color: #fff !important;
  background-color: #1a1a1a;
  text-align: center;
  border-radius: 5px;
  border-color: #584f4f;
  cursor: pointer;
}

.checkboxGroup input{
  display: inline-block;
  width: initial;
  margin: 20px;
}

.cta.blue{
  background-color: #68a7e2 !important;
  margin-bottom: 25px;

}
.cta.green{
  background-color: #95a857 !important;
  margin-bottom: 25px;

}
.cta.red{
  background-color: #FC6F37 !important;
  margin-bottom: 25px;
}
.ctaWrapper{
  text-align: center;
}

.cta, a.cta:active, a.cta:visited, button.cta:active, button.cta:visited{
  background-color: #1a1a1a;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  padding: 15px;
  width: 150px;
  margin: 40px 0 25px 0;
  cursor: pointer;
}

a.cta:hover, button.cta:hover{
  background-color: #1a1a1a;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  display: inline-block;
  padding: 15px;
  width: 150px;
  margin: 40px 0 25px 0;
  cursor: pointer;
}


.formError{
  display: none;
  background-color: #c83737;
  font-style: italic;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0 0 15px 0;
  text-align: center;
  border-color: #d87070;
  border-width: 2px;
  border-style: solid;
}

.formSuccess{
  display: none;
  background-color: #217844;
  font-style: italic;
  color: #d87070;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0 0 15px 0;
  text-align: center;
  border-color: #35c06d;
  border-width: 2px;
  border-style: solid;
}

.formWrapper{
  margin: 0 auto;
  max-width: 500px;
  padding: 15px;
}

input, select, option{
  border-width: 1px;
  border-radius: 2px;
  padding: 7px 1%;
  width: 100%;
}

input .disabled{
  background-color: #efefef;
}

.inputLabel{
  padding: 0 0 5px 0;
  color: #8c8c8c;
}

.inputWrapper{
  padding: 0 0 20px 0;
}

.agreeline{
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: left;
  padding: 0 0 5px 0;
  clear: both;
  color: #8c8c8c;
}

table{
  width: 100%;
}

tr{
  width: 100%;
}

th{
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  border-color: #000;
  border-style: dotted;
  padding: 10px;
  margin: 0 0 10px 0;
  background-color: rgba(249, 237, 222, 0.5);
}

td{
  padding: 15px;
}

td a, td a:hover, td a:active{
  color: #2e5fa8;
  text-decoration: underline;
  cursor: pointer;
}

.warning{
  font-style: italic;
  color: #FC6F37;
  font-size: 17px;
  text-align: center;
  line-height: 150%;
  padding: 0 0 20px 0;
}

/* page specific styles for dashboard */
#noChecksMessage td{
  text-align: center;
  font-style: italic;
  font-size: 20px;
  padding: 20px;
}

#noChecksMessage{
  display: none;
}

#createCheckCTA{
  margin-top: 40px;
  display: none;
  margin-bottom: 25px;
}

#agreeline{
  display: inline-block;
}

/* 
.content{} */

/* .disabled.displayIdInput{}
.disabled.displayPhoneInput{}
.disabled.displayStateInput{} */

/* .displayPhone{}
.firstName{}
.firstNameInput{}
.hiddenIdIput{}
.hiddenPhoneNumeberInput{}
.httpmethod{}
.intval{}
.lastNameInput{}


.menu{}
.methodInput{}
.multiSelect.intval{}
.protocolInput{}
.successCodesInput.multiseled .intval{}
.timeoutInput.intval{}
.UrlInput{}
.wrapper{} 
*/