<html>
  <head>
    <!-- general settings-->
<meta charset='utf-8'>
<meta htto-equiv='conten-language' content='en-us'>
<base href='{global.baseUrl}'/>

<!-- meta tags -->
<title> {head.title} | {global.appName}</title>
<meta name='description' content='{head.description'}>

<!-- static assets -->
<link type='image/x-icon' rel='icon' href='favicon.ico'>
<script type='text/javascript' charset='utf-8' src='public/app.js'> </script>
<link rel='stylesheet' type='text/css' href='public/apps.css'/>


  </head>
  <body class='{body.class}'>
    <!-- page wrapper -->
    <div class='wrapper'>
    <!-- header -->  
    <div class='header'>
      <!-- logo -->
      <a class='logo' href='/'></a>
      <!-- navigation -->
      <ul class='menu'>
        <li>
          <a href=''>Home</a>a>
        </li>
        <li>
          <a href=''>Singum</a>a>
        </li>
        <li>
          <a href=''>Login</a>a>
        </li>
         <li>
          <a href=''>Dashboard</a>a>
        </li>
        <li>
          <a href=''>Account Settings</a>a>
        </li>
        <li>
          <a href=''>Logout</a>
        </li>
      </ul>                            
    </div>

  <!-- page specific content -->
  <div class='content'>


