<h1>Create Your Uptime Tunnel Account</h1>
<h2> Signup only takes a few moments. Please make sure your phone is capable of receiving text messages. US phone numbers only.</h2>

<div class="formWrapper">
  <form id="accountCreate" action="/api/users" method="POST">
    <div class="formError"></div>
    <div class="inputWrapper">
      <div class="inputLabel">First Name</div>
      <input type="text" name="firstName" placeholder="John" />
    </div>
    <div class="inputWrapper">
      <div class="inputLabel">Last Name</div>
      <input type="text" name="lastName" placeholder="Smith" />
    </div>
    <div class="inputWrapper">
      <div class="inputLabel">Phone Number</div>
      <input type="text" name="phone" placeholder="415-400-4000" />
    </div>
    <div class="inputWrapper">
      <div class="inputLabel">Choose a Password</div>
      <input type="password" name="password" placeholder="not password123 please!" />
    </div>
    <div class="inputWrapper">
      <div class="inputLabel">Do you agree to the terms and conditions?</div>
      <input type="checkbox" name="tosAgreement" value="agree">
    </div>
    <div class="inputWrapper ctaWrapper">
      <button type="submit" class="cta green">Get Started</button>
    </div>
  </form>
</div>